rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /classes/{classId}/files/{fileId} {
      allow read, write: if request.auth != null
        && firestore.get(/databases/(default)/documents/classes/$(classId)).data.ownerUid == request.auth.uid;
    }
  }
}